body {
  background-color: #f5f9ff !important;
}

html *, body *{
  font-family: 'Mulish', sans-serif;
  color: #333;
  background-color: #f5f9ff;
}

iframe {
  width: 100%;
  height: 100%;
}

.App{
  display: flex; 
  flex-direction: column; 
  min-height: 100vh;
}

.filter-icon {
  color: white;
  font-size: 1.2em;
}

.tag-treinamentos {
  background-color: rgba(83, 174, 50, 1);
  color: white;
}

.tag-csst {
  background-color: rgba(63, 137, 91, 1);
  color: white;
}

.tag-sgsst {
  background-color: rgba(82, 117, 48, 1);
  color: white;
}

.tag-st {
  background-color: rgba(93, 141, 76, 1);
  color: white;
}

.tag-so {
  background-color: rgba(118, 184, 49, 1);
  color: white;
}

.tag-ce {
  background-color: rgba(115, 192, 155, 1);
  color: white;
}

.tag-sps {
  background-color: rgba(98, 176, 71, 1);
  color: white;
}

.tag-edtech {
  background-color: rgba(232, 110, 19, 1);
  color: white;
}

.tag-hub {
  background-color: rgba(166, 80, 52, 1);
  color: white;
}

.tag-eja {
  background-color: rgba(166, 80, 52, 1);
  color: white;
}


.tag-es {
  background-color: rgba(21, 139, 204, 1);
  color: white;
}

.tag-ec {
  background-color: rgba(44, 76, 155, 1);
  color: white;
}

.tag-cult {
  background-color: rgba(7, 74, 37, 1);
  color: white;
}

.tag-ee {
  background-color: rgba(17, 68, 143, 1);
  color: white;
}

.tag-60 {
  background-color: rgba(52, 86, 104, 1);
  color: white;
}

.tag-ch {
  background-color: rgba(47, 117, 154, 1);
  color: white;
}

.sst{
  color: #53AE32;
}

.responsibility {
  color: #044B24;
}

.education {
  color: #0077CC;
}

.projects {
  color: #144391;
}
.innovation {
  color: #FF6347;
}

.pdfIcon {
  border-radius: 0;
}

.Toastify__toast-body, .Toastify__toast-body > div:last-child{
  background-color: white;
}

.Toastify__toast-container {
  background-color: transparent;
}